<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="manifest" href="manifest.json" />
    <style>
        
    </style>
</head>

<body style="background-color: black;">
    <div id="playthrough">
        <video style="display: block; margin: auto;" style="object-fit: cover;" autoplay loop muted src="Data/video1.mp4"></video>
    </div>
    <script src="script.js"></script>
</body>

</html>